@model List<Product>  

<div class="d-flex justify-content-between align-items-center">
<h3>Product List</h3>
<a class="btn btn-dark mt-3 mb-3" asp-controller="Product" asp-action="Upsert"><i class="bi bi-plus-circle"></i> CREATE NEW PRODUCT</a>
</div>
<table class="table table-bordered table-striped" id="productTable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
</Table>

@section Scripts{
    <script type="text/javascript" src="~/js/product.js"></script>
}

