<div class="d-flex justify-content-between align-items-center">
<h3>User List</h3>

</div>
<table class="table table-bordered table-striped" id="UserTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
             <th>
                Email
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Company
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
</Table>

@section Scripts{
    <script type="text/javascript" src="~/js/user.js"></script>
}

